<p-splitter>
    <ng-template pTemplate>
        <div class="col flex align-items-center justify-content-center"><img style="width: 80%;" src="../../assets/imagens/ael-logo.png" alt=""></div>
    </ng-template>
    <ng-template pTemplate>
        <div class="col flex align-items-center justify-content-center">
            <form style="margin-top: 45%; margin-left: 45px;" [formGroup]="form" (ngSubmit)="login()">
                <div class="p-fluid">
                    <div class="field">
                        <label for="email">E-mail</label>
                        <input pInputText formControlName="email" id="email" type="text" />
                    </div>
                    <div class="field">
                        <label for="senha">senha</label>
                        <input pInputText formControlName="senha" id="senha" type="password" />
                    </div>
                    <p-button [style]="{'margin-top':'10px'}" type="submit" label="Login"></p-button>
                </div>
            </form>
        </div>
    </ng-template>
</p-splitter>
<footer style="text-align: center;">
    <p>Sistemas oficial AEL Consultoria e Sistemas</p>
</footer>